body{scroll-behavior:smooth;margin:5mm;font-family:sans-serif;background-color:#f0f0f0;}
      header{z-index:10;float:right;padding:5mm;position:sticky;top:0%;left: 100%;background:linear-gradient(#252525, black, #151515);width:35%;height:15%;border-radius:7vmin;margin:3% 0% 0% 0%;box-shadow:3px 3px 5px gray;max-height:50vmin;}
      .header-section{position:sticky;text-align:left;display:inline;color:white;width:50%;height:5%;font-size:4.5vmin;white-space:pre;padding:1mm}
      main{padding:4mm;display:inline-block;background-color:rgb(250, 250, 250, 0.85 );width:90%;height:85%;margin:3mm 5% 3mm 5%;line-height:1.4;font-size:1.2em;}
         label{padding:3mm 1cm 3mm 3mm;text-align:center;background-color:#e0e0e0;font-size:3vmin;cursor:pointer;display:inline-block;float:left;}
         label:hover{border:2px solid deepskyblue;filter:brightness(80%);}
         input:checked{animation-name:dark;animation-duration:1s;background-color:#303030;width:110%;height:110%;z-index:-1;display:block;position:fixed;bottom:0%;right:0%;top:-10%;left:-10%;pointer-events:none;border:none;}
         input{appearance:none;}
         span a{color:white;text-decoration:underline dashed blue;padding:1mm;white-space:pre;font-size:1.8vw;border:none;}
         span a:focus, span a:hover{text-decoration-style:solid;border:none}
         span a:visited{color:white;}
         .r{text-decoration-color:#ff0000}
         .g{text-decoration-color:#00ff00}
         .b{text-decoration-color:#0000ff}
         @keyframes dark{
            from{background-color:#f0f0f0;}
            to{background-color:#303030;}
         }
         a{text-decoration:none;border-bottom:2px dashed blue;color:blue;}
         a:hover{border-bottom-style:solid}
         a:focus{border-bottom-style:solid}
         a:visited{color:blue}
.maindark{text-decoration:none;border-bottom:2px dashed #898989}
.mainrgb{text-decoration:none;border-bottom:2px dashed #EF2044}
.mainrgb:focus{border-bottom-style:solid}
.mainrgb:hover{border-bottom-style:solid}
.maindark:focus{border-bottom-style:solid}
.maindark:hover{border-bottom-style:solid}
img{filter:brightness(88%);}
option:hover, select:hover{background-color:white;}
